<div class="card mt-5 text-center">
  <div class="table">
    <table class="table table-sm table-hover table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Foto</th>
          <th scope="col">Nombre</th>
          <th scope="col">Biomedio</th>
          <th scope="col">Conservación</th>
        </tr>
        </thead>
      <tbody>
        <tr *ngFor="let flora of floraList | slice:0:10 ">
          <td><img width="100" src="{{flora.foto}}" alt="..."></td>
          <td>{{flora.nombre}}</td>
          <td>{{flora.bioma}}</td>
          <td>{{flora.estado}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(flora)">
                <i class="far fa-edit"></i>
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(flora.$key)">
                <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>